html {
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    background-color: #e74c3c;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: white;
    transition: 0.2s;
}
.nav-item:hover::after {
    width: 100%;
}
.navbar li {
    padding-left: 20px;
}
#navbarSupportedContent {
    transition: height 1.5s ease;
}
.resume-section-content {
    position: relative;
    padding-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}
.resume-section h1 {
    font-size: 60px;
    font-weight: bold;
}
.text {
    color: #e74c3c;
}
.subheading, .lead {
    font-size: 18px;
}
.subheading {
    margin-top: 10px;
}
h2 {
    background-color: #e74c3c;
    color: white;
    border-radius: 5px;
    border: black 1px solid;
    padding: 8px;
    text-transform: uppercase;
}
.comp {
    height: 80px;
    margin-left: 100px;
    margin-top: 20px;
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}
.comp:hover {
    filter: grayscale(0);
}

.loisirs {
    height: 150px;
    margin-bottom: 100px;
    margin-left: 100px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #e74c3c;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;

}
.button1:hover {
    color: #e74c3c;
    background-color: white;
    text-decoration: none;
    border: 1px solid #e74c3c;
}